{% load static %}
{% block title %}Data Engineering - I3SOFTLAB{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
    <h2>Careers</h2>
<p>Join our team and be a part of innovative projects in data engineering and AI.</p>
<ul>
    <li>Data Scientist</li>
    <li>Data Engineer</li>
    <li>AI Specialist</li>
</ul>
<a href="mailto:careers@i3softlab.com" class="btn btn-primary">Apply Now</a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.1/aos.js"></script>
<script>
    AOS.init();
</script>
{% endblock %}

