{% load static %}
{% block title %}Data Engineering - I3SOFTLAB{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Gen AI in Commercial Pharmaceutical</h5>
        <p class="card-text">
            Key areas include Physician Behavior, Patient Profiling, Training and Knowledge Repository, Personalized Drug Positioning, and more.
        </p>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.1/aos.js"></script>
<script>
    AOS.init();
</script>
{% endblock %}
